/* Material 2.0 Google Keep colors */

.red {
    background-color: #f28b82;
}

.orange {
    background-color: #fbbc04;
}

.yellow {
    background-color: #fff475;
}

.green {
    background-color: #ccff90;
}

.blue-green {
    background-color: #a7ffeb;
}

.blue {
    background-color: #cbf0f8;
}

.dark-blue {
    background-color: #aecbfa;
}

.purple {
    background-color: #d7aefb;
}

.pink {
    background-color: #fdcfe8;
}

.grey {
    background-color: #e8eaed;
}

.discord {
    background-color: #2c2f33;
}
