body {
    margin: 0;
}

.shadow {
    box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 4px 9px rgba(0,0,0,0.15) !important;
}
.row {
    margin: 0;
}

span.fa {
    margin-right: 5px;
}

.paper-card {
    background: #ececec;
    border-radius: 8px;
    display: inline-flex;
    align-items: flex-start;
    flex-direction: column;
    height: 320px;
    position: relative;
    margin: 10px;
    padding: 10px;
    width: 250px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.paper-card-footer {
    width: 100%;
    position: absolute;
    bottom: 5px;
}

.paper-card:hover {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.30), 0 1px 3px 1px rgba(60,64,67,0.15)
}

.card-desc {
    word-break: break-word;
}

.card-remove {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    transition: all .3s ease-out;
}

.paper-card:hover .card-remove {
    opacity: 1;
}

.pull-right {
    position: absolute;
    right: 20px;
    bottom: 1px;
}

.Collapsible__trigger {
    width: 100%;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    height: 50px;
    margin: 5px 0;
    position: relative;
    outline: 0 !important;
    transition: all .2s;
}

.Collapsible__trigger:hover {
    box-shadow: 0 4px 6px rgba(0,0,0,0.05), 0 4px 9px rgba(0,0,0,0.15);
}

.Collapsible__trigger:after {
    font-family: 'Font Awesome\ 5 Free';
	content: '\f107';
    font-weight: 900;
	position: absolute;
	right: 10px;
	top: 14px;
	display: block;
	transition: transform .4s ease-out;
}
.Collapsible__trigger.is-open:after {
	transform: rotateZ(-180deg);
}

.btn-wide {
    width: 100%;
}

.btn-half {
    width: 49%;
}

.mt-22 {
    margin-top: 22px;
}

.mt-15 {
    margin-top: 15px;
}

.c-pointer {
    cursor: pointer;
}

.dropdown-menu {
    padding: 0;
}

.dropdown-item:focus,
.dropdown-item:hover {
    background-color: #e8e8e8;
}

.card-fade-out {
    z-index: -1;
    will-change: transform;
    transform: translate(0, -500px);
    width: 0;
    transition: transform 0.3s ease-in, width 0.2s ease-in-out 0.3s;
}

.uploader-yellow-button .uploadcare--widget__button_type_open {
    background-color: #fbc701;
    cursor: pointer;
}

.uploader-yellow-button .uploadcare--widget__button_type_open:hover {
    background-color: #edc218;
}
